BACKEND_URL=http://localhost:5001
NEXT_PUBLIC_BACKEND_URL=/api/proxy
NEXT_PUBLIC_DEV_BACKEND_URL=/api/proxy
NEXT_PUBLIC_PROD_BACKEND_URL=/api/proxy
NEXT_PUBLIC_ADMIN_TITLE=TripToo Travels Admin Dashboard
NEXT_PUBLIC_ADMIN_BRAND_NAME=TripToo Admin Control Center
